body { 
    margin: 0; 
    font-family: "Raleway";
    overflow: hidden;
    position: fixed;
    background: black;
}

canvas { 
    display: block;
    width: 100vw;
    height: 100vh; 
}

/* words on this one are a bit long */
form div label {
    font-size: 0.75rem;
}
